body{
 font-family: "Montserrat", sans-serif;
 margin: 0;
 background-color: black;
 color: white;
 overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;


}

.sidebar{
    background-color: #121212;
    width: 340px;
    border-radius: 1rem; /* 1 rem = 16-px */

}

.maincontent{
    background-color: #121212;
    flex: 1;  /* bachi hoi sari jagah isko dedo  */
    border-radius: 1rem; /* 1 rem = 16-px */
    overflow: auto;  /*auto means ek jgah chaiye hogi*/
}
.musicplayer{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}