body{

 font-family: "Montserrat", sans-serif;
 margin: 0;
 background-color: black;
 color: white;
 overflow: hidden;

}

.main{
    display: flex;
    height: 100vh;
padding: 0.5rem;

}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;   /* 1 rem = 16-px */
}

.maincontent{
    background-color: #121212;
    flex: 1;    /*bachi hoi sari jagah isko dedo*/
    border-radius: 1rem;   /*1 rem = 16-px*/
    overflow: auto;   /*auto means ek jgah chaiye hogi*/
}
.musicplayer{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: white;

}

.nav{
    padding: 0.5rem o.75rem;
    height: 100px;
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-option{
    line-height: 2rem;
    opacity: 0.7;
    padding: 0.5rem 0.6rem;

}
.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a{
    font-size: 1rem;
    margin-left: 1rem;
}
.library{
    background-color: #121212;
    border-radius:1rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.6rem;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}
.icons{
    font-size: 1.3rem;
  display: flex;
}
.icons i{
  margin-right: 1rem;
    opacity: 0.75;
}

.icons i:hover{
    opacity: 1;
}